<!DOCTYPE html>

<html> 
    <head>
        <link rel="stylesheet" href="/css/style.css" >
    </head>
    <body>
        {{>header}}

<form action="input">
    <input type="text" placeholder="location">
    <button>search</button>
</form>
<p id="messageOne"></p>
<p id="messageTwo"></p>

                {{>footer}}

                        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>